In [1]:
def calculate_atr(experience, age):
    if experience > 25 and age >= 55:
        return "N5,600,000"
    elif experience > 20 and age >= 45:
        return "N4,480,000"
    elif experience > 10 and age >= 35:
        return "N1,500,000"
    else:
        return "N550,000"

# Get user input
experience = int(input("Enter years of experience: "))
age = int(input("Enter age: "))

# Compute ATR
atr = calculate_atr(experience, age)

# Display result
print(f"Annual Tax Revenue (ATR): {atr}")

Enter years of experience:  4
Enter age:  54

Annual Tax Revenue (ATR): N550,000